/*
MOJE BOJE

blue 100 E0F2FE
blue 500 2E90FA
gray 900 101828
gray 700 344054
gray 600 475467
green 500 099250
green 100 E3FBCC
purple 100 ECE9FE
purple 500 6938EF

background F9FAFB
white FFFFFF

*/

body {
  background-color: #F9FAFB;
  font-family: 'Inter', sans-serif;
}

body > .container-fluid {
  padding-top: 3em;
  padding-bottom: 3em;
}

/*.container div{
  border: 1px solid black;
}*/
.kruzici {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #E0F2FE;
  border-radius: 50%;
  padding-top: 12px;
}
.business-hosting .kruzici {
    background-color: #E3FBCC;
}


.navbar .logo1 {
  padding-top: 11px;
}
.navbar .logotekst {
  padding: 10px;
  padding-left: 18px;
}
.navbar h3 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}
.navbar small {
  padding: 0;
  margin: 0;
  color: #344054;
  font-size: 13px;
  font-weight: 300;
}
.navbar .nav-link{
  font-weight: 600;
  color: #101828;
  font-size: 16px;
}
.navbar .nav-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.navbar .btn-dark {
  background-color: #101828;
  font-weight: 600;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 14px;
}
.navbar .btn-white {
  font-weight: 600;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 14px;
}


.front-page h1 {
  font-size: 60px;
  font-weight: 600;
}
.front-page .btn-primary {
  background-color: #2E90FA;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 14px;
}
.front-page .btn-white {
  padding: 8px 50px 8px 50px;
  border-radius: 14px;
}
.front-page .col-sm-6 {
  padding-right: 2em;
}
.front-page .btn {
  font-weight: 500;
}

.ponude .card-header {
  padding: 12px;
  font-size: 21px;
  font-weight: 700;
}
.ponude .card-body {
  font-weight: 500;
}
.ponude .cena {
  font-weight: 600;
  font-size: 18px;
  padding: 1em 1em 5px 1em;
}

.web-paketi .card-header {
  background-color: #E0F2FE;
  color: #2E90FA;
}
.web-paketi .cena .btn{
  font-weight: 600;
  font-size: 18px;
  border-radius: 14px;
  background-color: #2E90FA;
  border: none;
  opacity: 100%;
  padding: 8px 16px 8px 16px;
}
.business-paketi .card-header {
  background-color: #E3FBCC;
  color: #099250;
}
.business-paketi .cena .btn{
  font-weight: 600;
  font-size: 18px;
  border-radius: 14px;
  background-color: #099250;
  border: none;
  opacity: 100%;
  padding: 8px 16px 8px 16px;
}
.business-paketi .cena .btn-white{
  font-weight: 600;
  font-size: 18px;
  border-radius: 14px;
  color: #101828;
  background-color: #FFFFFF;
  border: none;
  opacity: 100%;
  padding: 8px 16px 8px 16px;
}
.business-paketi .cena {
  padding: 0.5em 1em 0 1em;
}


.opis h2 {
  font-weight: 600;
  padding-bottom: 0.5em;
}
.opis p {
  font-weight: 400;
  font-size: 13px;
  color: #344054;
}


.napomena {
  color: #475467;
  font-size: 13px;
}

.tabela .header {
  color: #FFFFFF;
  font-weight: 800;
}
.tabela .footer {
  font-weight: 600;
}

.center {
  display: block;
  margin: auto;
}

.ponude .card{
  border-radius: 5%;
}
.tabela .card{
  border-radius: 5%;
}

.web-hosting .card-header {
  background-color: #E0F2FE;
  color: #2E90FA;
}
.business-hosting .card-header {
  background-color: #E3FBCC;
  color: #099250;
}
.business-hosting .card-body {
  background-color: #101828;
  color: #FFFFFF;
}

.vps-hosting .card-header {
  background-color: #ECE9FE;
  color: #6938EF;
}

.dedicated-server .card-header {
  background-color: #101828;
  color: #FFFFFF;
}


.card-header {
  text-align: center;
}

.tabela .header {
  background-color: #2E90FA;
}

.tabela .footer {
  background-color: #F9FAFB;
}


.cene .slika {
  max-height: 200%;
  float: left;
}

.prelazite .slika {
  max-height: 200%;
  float: right;
}

.veliki-tekst {
  background-color: #FFFFFF;
  padding: 2em;
}

.futer {
  background-color: #101828;
}

#kontakt-kontenjer {
  background-color: #FFFFFF;
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}
#kontakt-kontenjer p{
  font-size: 12px;
  color: #475467;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em
}
#kontakt-kontenjer h2{
  font-size: 32px;
  color: #101828;
  font-weight: 700;
  padding-bottom: 0.5em;
  text-align: center;
  margin-bottom: 1em
}
#kontakt-kontenjer h5{
  font-size: 16px;
  color: #344054;
  font-weight: 500;
  padding: 0;
}

.futer .navbar-brand {
  color: #FFFFFF;
}
.futer .nav-link {
  color: #FFFFFF;
  font-weight: 500;
  padding: 16px;
}
.futer .nav-sivo {
  padding-left: 1em;
  padding-right: 1em;
  color: #475467;
  font-size: 15px;
  font-weight: 300;
}
.futer hr {
  color: #475467;
}
.futer h3 {
  font-size: 26px;
}

div.card-header {
  border: 0;
}

div.card {
  border: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.logo-imgb {
  filter: invert(53%) sepia(56%) saturate(4201%) hue-rotate(192deg) brightness(99%) contrast(98%);
}
.logo-imgg {
  filter: invert(50%) sepia(90%) saturate(7017%) hue-rotate(146deg) brightness(99%) contrast(93%);
}
.logo-imgv {
  filter: invert(25%) sepia(76%) saturate(4419%) hue-rotate(250deg) brightness(93%) contrast(101%);
}

